*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.college-details{
    width: 100%;
    height: 100vh;
    background-color: white;
}

.college-name{
    
    padding: 30px;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.names{
    margin-top: 20px;
    width: 50%;
    padding: 20px;
}

.names h2{
    font-size: 40px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 10px;
    
}

.names .location{
    font-size: 20px;
    font-weight: 600;
    color: #007F80;
}

.names .desc{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    line-height: 1.5;
    width: 70%;
}

.image{
    margin-top: 20px;
    width: 50%;
}

.image img{
    width: 90%;
    height: 80%;
    object-fit: cover;
}

.courses-section{
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    
}

.courses{
    width: 25%;
    padding: 20px;
    background-color: #E3E7F3;
    min-height: 370px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.courses h3{
    font-size: 30px;
    font-weight: 500;
    color: #1a1a1a;
    margin-bottom: 10px;
    
}



.heading{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 20px;
    color: #1E264C;
}

.course-item p{
    font-size: 16px;
    font-weight: 600;
    
    line-height: 1.5;
    color: #1E264C;
}
.course-item span{
    font-weight: 400;
    color: #000;
}

.courses:hover{
    scale: 0.98;
    background-color: #d8e0f6;
}

.accommodation-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px;
}

.accommodation-item{
    position: relative;
    width: 25%;
    padding: 20px;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 130px;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    background-color: #f9fafd;
}

.accommodation-item p{
    font-size: 16px;
    font-weight: 600;
    
    line-height: 1.5;
    color: #1E264C;
}

.accommodation-item span{
    font-weight: 400;
    color: #000;
}

.apply-btn{
    background-color: #007F80;
    color: #ffffff;
    border: none;
    height: 30px;
    width: 150px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

.map{
    position: absolute;
    right: 0;
    top: 70%;
    height: 30px;
    width: 30px;
    margin: 10px;
    /* text-align: center; */
    padding: 3px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #007F80;
    color: #ffffff;
    cursor: pointer;
}