

.applied-colleges-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 120px;
}

.applied-colleges-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.applied-college-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.applied-college-item h3 {
    font-size: 1.5em;
    color: #059696;
    margin: 0 0 10px;
}

.applied-college-item p {
    font-size: 1em;
    margin: 5px 0;
    color: #151414;
}

.applied-college-item strong {
    font-weight: 600;
}

.no{
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .applied-colleges-content {
        padding: 15px;
    }
    
    .applied-college-item h3 {
        font-size: 1.3em;
    }
    
    .applied-college-item p {
        font-size: 0.9em;
    }
}
