@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.left-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.dropdown{
    position: relative;
}

.dropdown-toggle{
    margin-top: 2px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background: none;
    font-size: 16px;
    color: #000;
}

.dropdown-content{
    position: absolute;
    background-color: #ffffff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    z-index: 1;
}

.dropdown-content a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
}

.dropdown:hover .dropdown-content{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content a:hover{
    background-color: #f0f0f0;
}

.logo{
    height: 70px;
    border-radius: 60px;
    margin-left: 20px;
}

.logout-btn{
    padding: 10px 20px;
    background-color: #007F80;
    color: white;
    border: none;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}
.logout-btn:hover {
    opacity: 0.8;
}

.logout-btn:active {
    transform: scale(0.95);
}

@media Screen and (max-width: 576px)
{
    .right-container .dropdown{
        display: none;
    }
}


