
.apply-content {
    width: 40%;
    margin: auto;
    background-color: #c0e7e7;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 200px;
    
}

.apply-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.input-cont {
    margin-bottom: 15px;
}

.input-cont label {
    display: block;
    font-size: 16px;
    color: #0c0c0c;
    font-weight: 500;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: #059696;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #007bff;
}

.error {
    font-size: 12px;
    color: #e74c3c;
    margin-top: 5px;
    display: block;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #059696;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.submit-btn:hover {
    background-color: #0056b3;
}