

.programs-content{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
}

.search-bar{
    display: flex;
    align-self: center;
    align-items: center;
    margin-bottom: 40px;
}

.loading{
    display: flex;
    align-self: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 20px;
}

.search-input{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 300px;
    height: 42px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.search-icon{
    background-color: #007F80;
    color: white;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
}


